<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Peronas</span>
    <span class="menu-spacer"></span>

    <div fxShow="true" fxHide.lt-md fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px">
      <button mat-button [matMenuTriggerFor]="menuBuilding" matTooltip="Administrar">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="menu" matTooltip="Salir">
        <mat-icon>account_circle</mat-icon>
      </button>

       <mat-menu #menuBuilding="matMenu">
        <button mat-menu-item routerLink="/productos" (click)="productos()">
          <mat-icon>shopping_basket</mat-icon>
          Personas
        </button>

      </mat-menu> -->

<!--
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->
