<div class="card border-primary mb-3">
    <div class="card-header">Listado Personas</div>
    <div class="card-body text-primary">
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/form']">
                Insertar
            </button>
        </div>

        <table class="table table-striped table-bordered table-dark table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Genero</th>
                    <th>Edad</th>
                    <th>Actualizar</th>
                    <th>Retirar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <th>{{persona.cedula}}</th>
                    <th>{{persona.nombres}}</th>
                    <th>{{persona.apellidos}}</th>
                    <th>{{persona.genero}}</th>
                    <th>{{persona.edad}}</th>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button" name="actualizar" (click)='actualizar()' [routerLink]="['/form', persona.cedula]">actualizar</button>
                    </td>
                    <td>
                        <button  class="btn btn-danger btn-sm" type="button" name="retirar" (click)='retirar(persona)'>retirar</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>

                </tr>
            </tfoot>
        </table>
    </div>
</div>